# Python Sertification Training

Subject: Python Basics

Sub-Topics:
1. Operations using Data Types and Operators
2. Flow Control with Decisions and Loops
3. Code Documentations and Structures
4. Troubleshooting and Error Handling
5. Operations using Modules and Tools

These sub-topics are the basic building blocks of Python programming language. This training will cover the basic concepts of Python programming language, including:

Day 1:
- Variables and Data Types
- Looping
- Conditional Statements/Decision Making
- Lists

Day 2:
- Functions
- Modules
- File Handling and I/O Operations

Day 3:
- Exception Handling
- Classes and Objects
- Arguments and Parameters

## Variables and Types

### Numbers

In [1]:
# Integer
myint = 7
print(myint)

7

In [3]:
# Float
myfloat = 7.0
print(myfloat)
myfloat = float(100)
print(myfloat)

7.0
100.0

In [4]:
# Float
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [5]:
# Complex
mycomplex = 7 + 3j
print(mycomplex)

(7+3j)

In [6]:
# Complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Strings

In [7]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [ ]:
mystring = "Don't worry about apostrophes"
print(mystring)

In [8]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [9]:
# Mixing numbers and strings is not supported
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
print(hello * 3)

hellohellohello

### Exercise

In [12]:
# change this code
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

The `isinstance` function is a built-in function in Python that checks if an object is an instance or subclass of a specified class type. It returns `True` if the object is an instance of the specified class type, and `False` otherwise.

The `isinstance` function takes two parameters:

1. `object`: The object that you want to check.
2. `classinfo`: The class, type, or tuple of classes and types.

### Boolean

1. Logical **AND** (`and`): This operation returns True if both the operands (i.e., the values on its left and right) are true.
2. Logical **OR** (`or`): This operation returns True if at least one of the operands is true.
3. Logical **NOT** (`not`): This operation returns the opposite of the operand's value. If the operand is True, it returns False, and if the operand is False, it returns True.

In [13]:
# AND
x = True
y = False
print(x and y)  # Outputs: False

False

In [14]:
# OR
x = True
y = False
print(x or y)  # Outputs: True

True

In [15]:
# NOT
x = True
print(not x)  # Outputs: False

False

### Many Values to Multiple Variables

In [16]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

### Unpack a Collection

In [17]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### Casting

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

Source: [W3Schools](https://www.w3schools.com/python/python_casting.asp)

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

# Print x, y, z

In [21]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

# Print x, y, z, w
print("x: {}, y: {}, z: {}, w: {}".format(x, y, z, w))
print("x:", x, "y: ", y, "z: ", z, "w: ", w)

x: 1.0, y: 2.8, z: 3.0, w: 4.2
x:  1.0 y:  2.8 z:  3.0 w:  4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Print x, y, z

## Arithmetic Operations

In [22]:
# Addition
x = 5
y = 3
print(x + y)

# Subtraction
x = 5
y = 3
print(x - y)

# Multiplication
x = 5
y = 3
print(x * y)

# Division
x = 12
y = 7
print(x / y)

# Modulus
x = 5
y = 2
print(x % y)

# Exponentiation
x = 2
y = 5
print(x ** y)

# Floor division
x = 15
y = 2
print(x // y)

8
2
15
1.7142857142857142
1
32
7

### Exercise

In [26]:
v1 = 9
v2 = 4
x = ((v1 % v2 * 10)//2.0 ** 3.0 + v2)

# What is the value of x?
print(x)
print(v1 % v2 * 10)
print((v1 % v2 * 10)//2.0)
print(2.0 ** 3.0)

5.0
10
5.0
8.0

In [6]:
from random import randrange
print(randarange(5, 105, 5))

NameError: name 'randarange' is not defined

In [8]:
x = 'orange'
y = 'apple'
z = 'banana'
data = '{1} and {0} and {2}'
print(data.format(z, y, x))

apple and banana and orange